<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Add Product')"></head>

<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container">
    <h1>Add Product</h1>

    <form th:action="@{/products/add}" method="post">
        <div class="row">
            <label>Name <span style="color:#a40000">*</span></label>
            <input type="text" name="name" required/>
        </div>

        <div class="row">
            <label>Company <span style="color:#a40000">*</span></label>
            <input type="text" name="company" required/>
        </div>

        <div class="row">
            <label>Description</label>
            <input type="text" name="description"/>
        </div>

        <div class="actions">
            <button type="submit">Save Product</button>
            <a th:href="@{/products}">Cancel</a>
        </div>
    </form>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>