<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Add Membership')"></head>

<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container">
<h1>Add Membership</h1>

    <form th:action="@{/memberships/add}" method="post">
        <div class="row">
            <label>Type <span style="color:#a40000">*</span></label>
            <input type="text" name="type" required/>
        </div>

        <div class="row">
            <label>Organization Name <span style="color:#a40000">*</span></label>
            <input type="text" name="organizationName" required/>
        </div>

        <div class="row">
            <label>Description</label>
            <input type="text" name="description"/>
        </div>

        <div class="actions">
            <button type="submit">Save Membership</button>
            <a th:href="@{/memberships}">Cancel</a>
        </div>
    </form>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>